<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128473677770-m55e4fauneh8lfu91062d8oj4jslpfoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128473677770-m55e4fauneh8lfu91062d8oj4jslpfoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCjGhtpYCd4fAdFFfvbC-XrqunYeZoGofY</string>
	<key>GCM_SENDER_ID</key>
	<string>128473677770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.summarizer</string>
	<key>PROJECT_ID</key>
	<string>summarizer-1d885</string>
	<key>STORAGE_BUCKET</key>
	<string>summarizer-1d885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128473677770:ios:823ebe83cd6cfea5cc5933</string>
</dict>
</plist>